table{
	width: 100%;
}
.tr_title{
	height: 4.5em;	
    background: linear-gradient(#f6f6f6, #efefef), #dddddd;
	border-bottom: 1px solid #DDDDDD;
	font-size: 0.8em;
}
.tr_content{
	height: 4.5em; 
	font-size: 0.85em;
	background: #ffffff; 	
    box-shadow: rgba(0, 0, 0, 0) 0 2px 5px, inset rgba(218, 218, 218, 0.44) 0 3px 6px;
	border-bottom: 1px solid #DDDDDD;
}
.tr_content td{
	text-align: center;
}
.lock_font{
	font-size: 200%; color: #ca0000;
}
.unlock_font{
	font-size: 200%; color: #00bd4d;
}


.tr_content2{
	height: 4.5em; 
	font-size: 0.85em;
	background: #ffffff;
	border-bottom: 1px solid #CCCCCC;
}
.tr_content2_d{
	height: 4.5em; 
	font-size: 0.85em;
	background: #cccccc;
	border-bottom: 1px solid #CCCCCC;
}
.tr_content2 td{
	text-align: center;
}
.tr_content2_d td{
	text-align: center;
}
