<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>任务列表</title>
    
    <script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/jquery.params.js"></script>
	<script src="../js/mui.min.js"></script> 
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
	<link href="../css/mui.css" rel="stylesheet"/> 
    <link href="../css/app.css" rel="stylesheet"/> 
    <link href="../css/tasks_page.css" rel="stylesheet"/> 
    <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    <style>
    .div1{
    	color: #ffffff;
    	float: right;
    	font-size: 0.8em;
    	padding: 0.5em;
    	border-bottom: 1px solid #ffffff; 
    	border-right: 1px solid #ffffff; 
    	text-align: center;
    }
    
    .mui-switch-ok {
		background: #d60a25;
		border: 2px solid #d60a25;
		background-color: #d60a25;
		
	}
    .mui-switch-ok.mui-active:before
	{
	    right: auto;
	    left: 10px;		
	    font-size: 14px;	
	    content: 'OK';		
	    color: #fff;
	}
	
	.mui-switch-ok:before
	{
	    font-size: 14px;		
	    position: absolute;
	    top: 3px;
	    right: 11px;		
	    content: 'NG';
	    text-transform: uppercase;		
	    color: #fff;
	}
	
	.btn_b{
		float: left;
		display: block;
	    width: 5em;
	    height: 2.5em;
	    border-radius: 5px;
	    padding: 7px 2px;
	    margin: 3px;
	    border: 1px solid #0062CC;
	    color: #0062CC;
	}
	.btn_g{
		float: left;
		display: block;
	    width: 5em;
	    height: 2.5em;
	    border-radius: 5px;
	    padding: 7px 2px;
	    margin: 3px;
	    border: 1px solid #10B903;
	    color: #10B903;
	}
	
    </style>
</head>
<body>
	<div id="assemble_task_list_content">
		
	<header class="mui-bar mui-bar-nav top_title" >
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">组装任务一览</h1>
		<!--<i class="fa fa-save" @tap="saveMeterInput()" style="font-size: 1.7em; color: #ffffff; margin: 0.2em; float: right;"></i>-->
	
	</header>
<!-- 
	<nav id="main_bar" class="mui-bar mui-bar-tab top_title">
		<div class="div1" style="width: 50%;"><span>标签打印：{{userInfo.PrintTime}}</span></div>
		<div class="div1" style="width: 50%;"><span>任务单号：{{userInfo.FinterID}}</span></div>
		<div class="div1" style="width: 33%;"><span>机号：{{userInfo.RandomNo}}</span></div>
		<div class="div1" style="width: 33%;"><span>品名：{{userInfo.ProductName}}</span></div>
		<div class="div1" style="width: 33%;"><span>图号：{{userInfo.FNumber}}</span></div>
		 
	</nav>
   -->
 
	<div id="item1" class=" mui-content " style=" margin-bottom: 30px;" >
		 <table >
		 	<tr class="tr_title">
				<!--<th>任务单号</th>-->
				<th>序号</th>
				<th></th>
		 		<!--<th>图号</th>-->
		 		<!--<th>工段号</th>-->
		 		<th>工段名称</th>
		 		<th>机号</th>
		 		<th>状态</th>
		 		<th>操作</th>
		 	</tr>
		 	<tr  class="tr_content2" v-for="(item,index) in assembleTaskList">
				<!--<td  >{{item.FinterID}}</td>-->
				<td>{{index+1}}</td>
				<td style="padding: 10px;">
		 			 <a class="btn_b" v-if="item.OperationFlag!=0"  @tap="viewTaskDetail(item)">查看</a>
		 		</td>
				<!--<td  >{{item.ProductID}}</td>-->
				<!--<td  >{{item.ProcessID}}</td>-->
				<td  >{{item.ProcessName}}</td>
				<td  >{{item.RandomNo}}</td>
				  
				
				<td :class="getStatusCss(item)" >{{getStatus(item)}}</td>
		 		 
		 		<td style="padding-left: 10px;">
		 			 <a class="btn_g" v-if="item.OperationFlag==2" @tap="submitAssembleTask(item)">提交</a> 
		 			 <a class="btn_b" v-if="item.EditFlag==1" @tap="openTaskDetail(item)">录入</a>
		 		</td>
		 		
		 	</tr>
		 </table>
	</div>
 
</div>
<script type="text/javascript" charset="UTF-8">
  	mui.init();
//	onResizeWindow();
//	    window.onresize = onResizeWindow;
//	    function onResizeWindow(){
//	        $("#inputContent").css("width",$(window).width()-92);
//	    }
  	 
  	var vm_assemble_task_list = new Vue({
		el: '#assemble_task_list_content',
		data: {
			checkInputDetail:{},
			userInfo:{
				LoginUser:"",
				LoginNumber:"",
				GroupName:"",
				FinterID:'',
				PrintTime:'',
				FNumber:'',
				ProductName:'',
				RandomNo:''
			},
			taskSearchInfo:{
				command:"list",
				message:"",
				data:""
				}
			,
			assembleTaskList:[
//			 {
//	"ID": 565,
//	"FinterID": "WORK16050864",
//	"ProductID": "2.3220-S2011-9010",
//	"ProcessID": "11",
//	"ProcessName": "动平衡",
//	"RandomNo": "PB0012",
//	"StartState": 3,
//	"OperationFlag": 3,
//	"ReportFlag": 1,
//	"EditFlag": 0
//},
//{
//	"ID": 568,
//	"FinterID": "WORK16050864",
//	"ProductID": "2.3220-S2011-9010",
//	"ProcessID": "12",
//	"ProcessName": "轴承室",
//	"RandomNo": "PB0012",
//	"StartState": 3,
//	"OperationFlag": 1,
//	"ReportFlag": null,
//	"EditFlag": 1
//},
//{
//	"ID": 588,
//	"FinterID": "WORK16050864",
//	"ProductID": "2.3220-S2011-9010",
//	"ProcessID": "13",
//	"ProcessName": "标准组装",
//	"RandomNo": "PB0012",
//	"StartState": 3,
//	"OperationFlag": 2,
//	"ReportFlag": null,
//	"EditFlag": 0
//},
//{
//	"ID": 588,
//	"FinterID": "WORK16050864",
//	"ProductID": "2.3220-S2011-9010",
//	"ProcessID": "13",
//	"ProcessName": "标准组装",
//	"RandomNo": "PB0012",
//	"StartState": 3,
//	"OperationFlag": 0,
//	"ReportFlag": null,
//	"EditFlag": 0
//}
			],
		},
		methods:{
			getStatus:function(item){
//				0:未开工 1:已开工 2:已完成 3:已审核
				 if(item.OperationFlag==0){
				 	return "未开工";
				 }else if(item.OperationFlag==1){
				 	return "已开工";
				 }else if(item.OperationFlag==2){
				 	return "已完成";
				 }else if(item.OperationFlag==3){
				 	return "已审核";
				 }
				 
		    },  
			getStatusCss:function(item){
//				0:未开工 1:已开工 2:已完成 3:已审核
				 if(item.OperationFlag==0){
				 	return "td_0";
				 }else if(item.OperationFlag==1){
				 	return "td_1";
				 }else if(item.OperationFlag==2){
				 	return "td_2";
				 }else  {
				 	return "td_3";
				 }
				 
		    }, 
		}
	});
 
 
	mui.ready(function(){
		var LoginNumber = $.query.get("LoginNumber");
		var LoginUser = $.query.get("LoginUser");
		var FinterID =  $.query.get("FinterID");
		var ProductID =  $.query.get("ProductID");
		var RandomNo =  $.query.get("RandomNo");
		var PrintTime =  $.query.get("PrintTime");
		var ProductName =  $.query.get("ProductName");
		var ProcessID =  $.query.get("ProcessID");
		vm_assemble_task_list.userInfo.LoginUser=LoginUser;
		vm_assemble_task_list.userInfo.LoginNumber=LoginNumber;
		vm_assemble_task_list.userInfo.FinterID=FinterID;//任务单号
		vm_assemble_task_list.userInfo.FNumber=ProductID;//图号
		vm_assemble_task_list.userInfo.RandomNo=RandomNo;//机号
		vm_assemble_task_list.userInfo.PrintTime=PrintTime;//标签打印时间
		vm_assemble_task_list.userInfo.ProductName=ProductName;//品名
		vm_assemble_task_list.userInfo.ProcessID=ProcessID;//品名	  

		app.createState(vm_assemble_task_list.userInfo);

		var userInfo = vm_assemble_task_list.userInfo;
		vm_assemble_task_list.taskSearchInfo.data=""+JSON.stringify(userInfo);
			app.postAssembleList(vm_assemble_task_list.taskSearchInfo,function(data){
			if(data.code==1){
				var dataList = data.data; // 
				console.info(dataList);
				vm_assemble_task_list.assembleTaskList=[];				
				vm_assemble_task_list.assembleTaskList = JSON.parse(dataList);
			}else{
				mui.toast(data.message);
			}  
		});
	    mui.back=function(){
		 console.info("back>>>>>>>>>>>>"); 
		 nativeMethod.toActivity("check");
		};
	});
	
	function submitAssembleTask(item){ 
		var searchData={
			LoginUser:vm_assemble_task_list.userInfo.LoginUser,
			LoginNumber:vm_assemble_task_list.userInfo.LoginNumber,
			FinterID:item.FinterID,
			FNumber:item.ProductID,
			RandomNo:item.RandomNo,
			ProcessID:item.ProcessID
		}; 
		vm_assemble_task_list.taskSearchInfo.command="report";
		vm_assemble_task_list.taskSearchInfo.data=""+JSON.stringify(searchData);
		app.postAssembleList(vm_assemble_task_list.taskSearchInfo,function(data){
			if(data.code==1){
				 console.info("back");
				 mui.back();
			}
			mui.toast(data.message);
		});
	}
	
	
	function viewTaskDetail(item){
		item.EditFlag=0;
		openTaskDetail(item)
	}
	function openTaskDetail(item){
		item.PrintTime=vm_assemble_task_list.userInfo.PrintTime;
		app.setPageParam("$selectAssembleTaskItem",item);
		window.location.href="assemble_detail.html";
	}
	
	function saveMeterInput(){
		var searchData={LoginUser:vm_assemble_task_list.userInfo.LoginUser,LoginNumber:vm_assemble_task_list.userInfo.LoginNumber};
		var ID=[];
		var Result=[];
		var Error=[];
		for(var i=0;i<vm_assemble_task_list.assembleTaskList.length;i++){
			ID.push(vm_assemble_task_list.assembleTaskList[i].ID);
			Result.push(vm_assemble_task_list.assembleTaskList[i].Result);  
			Error.push(vm_assemble_task_list.assembleTaskList[i].ngFlag?1:0);
		}
		searchData.ID=ID;
		searchData.Result=Result;
		searchData.Error=Error;
		vm_assemble_task_list.taskSearchInfo.command="save";
		vm_assemble_task_list.taskSearchInfo.data=""+JSON.stringify(searchData);
		app.postassembleTaskList(vm_assemble_task_list.taskSearchInfo,function(data){
			if(data.code==1){
				 console.info("back");
				 mui.back();
			}
			mui.toast(data.message);
		});
	}
	
	
	window.onload=function(){ 
	}
	
</script>
</body>
</html>