<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>不合格样本选择</title>
    <script src="../js/mui.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../js/jquery-2.1.4.min.js"></script> 
	<script src="../js/app.js"></script> 
	<script type="text/javascript" src="../js/mui.picker.js" ></script>
	<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
    <link href="../css/mui.css" rel="stylesheet"/> 
    <link href="../css/app.css" rel="stylesheet"/> 
    <link href="../css/tasks_page.css" rel="stylesheet"/> 
    <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
    <style>
    
	
    </style>
</head>
<body>
	<div id="below_grade_detail_content">
		
	<header class="mui-bar mui-bar-nav top_title" >
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">不合格样本选择</h1>
	</header>
 
   
 
	<div id="item1" class=" mui-content "  >
		 <table >
		 	<tr class="tr_title">
		 		<th>工序流转卡号</th>
		 		<th>图号</th>
		 		<th>品名</th>
		 		<th>数量</th>
		 		<th>检查完成</th>
		 		<th>接受时间</th>
		 	</tr>
		 	<tr class="tr_content" v-for="item in taskList">
		 		<td>{{item.ProcessFlow_CD}}</td>
		 		<td>{{item.FNumber}}</td>
		 		<td>{{item.FName}}</td>
		 		<td>{{item.TaskCount}}</td>
		 		<td>{{item.FinishCount}}</td>
		 		<td>{{item.ReceiveDttm}}</td>
		 	</tr>
		 </table>
		 
		 
		 <table >
		 	<tr class="tr_title">
		 		<th width="15%">测量项目</th>
		 		<th width="20%">工具</th>
		 		<th width="10%">单位</th>
		 		<!--<th width="10%">测定<br>尺寸</th>-->
		 		<th width="15%">公差正<br>公差负</th>
		 		
		 		<th width="10%">钢印号</th>
		 	</tr>
		 	<tr class="tr_content" v-for="detailItem in detailItemList" > <!--@tap="openCheckInputDetail(detailItem)"-->
		 		<td>{{detailItem.ItemID}}</td>
		 		<td>{{detailItem.Tools}}</td>
		 		<td>{{detailItem.Unit}}</td>
		 		<!---->
		 		<td>{{detailItem.BaseTolerance}}</td> 
		 		
		 		<td>&nbsp;</td>  
		 	</tr>
		 </table>
		 
	</div>
	
 
</div>
<script type="text/javascript" charset="UTF-8">
  	mui.init(); 
  	var vm_below_grade_detail = new Vue({
		el: '#below_grade_detail_content',
		data: {
			checkAllFlag:false,
			selectItemIds:[],
			taskSearchInfo:{
				command:"detail",
				message:"",
				data:""
			},
			userInfo:{
//				LoginUser:"user2",
//				LoginNumber:1554,
//				GroupName:'检查组长'
			},
			taskList:[//
//			{
//				FName:"平衡圈",
//				FNumber:"2.3220-M510-0400",
//				FinishCount:1,
//				ProcessFlow_CD:"FC1705374",
//				ReceiveDttm:"2017-11-24 19:53:57",
//				ReceiveNumber:"1554",
//				ReceiveUser:"user2", 
//				TaskCount:6
//			},
			],
			detailItemList:[]
		},computed: {
		    isAdmin:function(){
		    	return this.userInfo.GroupName=='检查组长';
		    } 
		    
		},
		methods:{
		}
	});
	
	
	mui.ready(function(){
		vm_below_grade_detail.userInfo = app.getState();
		getTaskDetail();
	});
	
   
	function  getTaskDetail(){
		var userInfo = app.getState();
		var searchData=userInfo;
		var selectTask=app.getPageParam("$selectBelowGradeItem");
		vm_below_grade_detail.taskList=[];
		vm_below_grade_detail.taskList.push(selectTask);
		 
		searchData.ProcessFlow_CD=selectTask.ProcessFlow_CD;
		searchData.FNumber=selectTask.FNumber;
		vm_below_grade_detail.taskSearchInfo.command="list";
		vm_below_grade_detail.taskSearchInfo.data=""+JSON.stringify(searchData);
		app.postCheckList(vm_below_grade_detail.taskSearchInfo,function(data){
			if(data.code==1){
				var dataList = data.data; // 目前没数据先模拟数据。
				console.info(dataList);
				vm_below_grade_detail.detailItemList=JSON.parse(dataList);
			 	pageIndex=1;
			}else{
				mui.toast(data.message);
			}
		});
	}
	window.onload=function(){
//		courseId = $.query.get("courseId"); 
//		classId = $.query.get("classId");
//		console.info("courseId:  "+courseId);
//		console.info("classId:  "+classId);
		
	}
	 
	function openCheckInputDetail(detailItem){		
		app.setPageParam("$selectCheckInputDetailItems",detailItem);
		window.location.href="tasks_input_meter.html";
	}
	
</script>
</body>
</html>