<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>不合格样本选择</title>
    <script src="../js/mui.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../js/jquery-2.1.4.min.js"></script> 
	<script src="../js/app.js"></script> 
	<script type="text/javascript" src="../js/mui.picker.js" ></script>
	<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
    <link href="../css/mui.css" rel="stylesheet"/> 
    <link href="../css/app.css" rel="stylesheet"/> 
    <link href="../css/tasks_page.css" rel="stylesheet"/> 
    <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
    <style>
    
	
    </style>
</head>
<body>
	<div id="below_grade_detail_content">
		 
	<header class="mui-bar mui-bar-nav top_title" >
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">不合格样本选择</h1>
	</header>
	<nav id="main_bar" class="mui-bar mui-bar-tab top_title">
		<a id="defaultTab" class="mui-tab-item mui-active " style="color: #FFFFFF; font-size: 1em;" href="#" @tap="showCheckResult()">不合格确认
		</a> 
	</nav>
   
 
	<div id="item1" class=" mui-content "  >
		 <table >
		 	<tr class="tr_title">
		 		<th>工序流转卡号</th>
		 		<th>图号</th>
		 		<th>品名</th>
		 		<th>数量</th>
		 		<th>检查完成</th>
		 		<th>接收时间</th>
		 	</tr>
		 	<tr class="tr_content" v-for="item in taskList">
		 		<td>{{item.ProcessFlow_CD}}</td>
		 		<td>{{item.FNumber}}</td>
		 		<td>{{item.FName}}</td>
		 		<td>{{item.TaskCount}}</td>
		 		<td>{{item.FinishCount}}</td>
		 		<td>{{item.ReceiveDttm}}</td>
		 	</tr>
		 </table>
		 
		 
		 <table >
		 	<tr class="tr_title">
		 		<th width="15%">测量项目</th>
		 		<th width="20%">检查项目</th>
		 		<th width="10%">单位</th>
		 		<th width="10%">测定<br>尺寸</th>
		 		<th width="15%">公差负<br>公差正</th>
		 		
		 		<th width="10%">钢印号<br>{{taskList[0].Model}}</th>
		 	</tr>
		 	<tr class="tr_content" v-for="detailItem in detailItemList" > <!--@tap="openCheckInputDetail(detailItem)"-->
		 		<td>{{detailItem.TypeName}}</td>
		 		<td>{{detailItem.ItemName}}</td>
		 		<td>{{detailItem.Unit}}</td>
		 		<td>{{detailItem.Size}}</td>
		 		<td>{{detailItem.ToleranceMinus}}<br>{{detailItem.TolerancePlus}}</td> 
		 		 
		 		<td v-if="detailItem.MeasureCL==2" :style="getItemCss(detailItem)">{{detailItem.Result==1?'NG':'OK'}}</td>
		 		<td v-else :style="getItemCss(detailItem)">{{detailItem.Result}}</td>
		 	</tr>
		 </table>
		 
	</div>
	
 
</div>
<script type="text/javascript" charset="UTF-8">
  	mui.init(); 
  	var vm_below_grade_detail = new Vue({
		el: '#below_grade_detail_content',
		data: {
			checkAllFlag:false,
			selectItemIds:[],
			taskSearchInfo:{
				command:"detail",
				message:"",
				data:""
			},
			userInfo:{
//				LoginUser:"user2",
//				LoginNumber:1554,
//				GroupName:'检查组长'
			},
			taskList:[//
			{
				Model:""
			}
			],
			detailItemList:[
			
//			,{TypeName:'2'}
//			,{TypeName:'3'}
//			,{TypeName:'4'}
//			,{TypeName:'5'}
//			,{TypeName:'6'}
//			,{TypeName:'7'}
//			,{TypeName:'8'}
//			,{TypeName:'9'}
//			,{TypeName:'0'}
			]
		},computed: {
		    isAdmin:function(){
		    	return this.userInfo.GroupName=='检查组长';
		    } 
		    
		},
		methods:{
			getItemCss:function(item){
				
				var css1="background: #10b903; ";
				var css2="background: #d60a25; color: #ffffff;"; 
				var sRtn=css1;
				if(item.Base){
					if(item.MeasureCL==2){
						item.ngFlag=item.Result==1?true:false;
						sRtn=item.Result==1?css2:css1;
					}else{						
						if(item.ToleranceMinus!=undefined && item.ToleranceMinus!=null && (item.ToleranceMinus+item.Base)>item.Result
						|| item.TolerancePlus!=undefined &&item.TolerancePlus!=null && (item.TolerancePlus+item.Base)<item.Result
					){
							item.ngFlag=true;
							sRtn=css2;
						}else{
							item.ngFlag=false;
							sRtn=css1;
						}
					}
				}
				console.info(sRtn);
				return sRtn;
			}
		}
	});
	
	
	mui.ready(function(){
		vm_below_grade_detail.userInfo = app.getState();
		getTaskDetail();
	});
	
   
	function  getTaskDetail(){
		var userInfo = app.getState();
		var searchData=userInfo;
		var selectTask=app.getPageParam("$selectBelowGradeItem");
		vm_below_grade_detail.taskList=[];
		vm_below_grade_detail.taskList.push(selectTask);
		 
		searchData.ProcessFlow_CD=selectTask.ProcessFlow_CD;
		searchData.FNumber=selectTask.FNumber;
		searchData.Process_CD=selectTask.Process_CD;
		searchData.Model=selectTask.Model;
		
		
		vm_below_grade_detail.taskSearchInfo.command="result";
		vm_below_grade_detail.taskSearchInfo.data=""+JSON.stringify(searchData);
		app.postTaskList(vm_below_grade_detail.taskSearchInfo,function(data){
			if(data.code==1){
				var dataList = data.data; // 目前没数据先模拟数据。
				vm_below_grade_detail.detailItemList=JSON.parse(dataList).detail;
//			
				console.info(vm_below_grade_detail.detailItemList);
			 	pageIndex=1;
			}else{
				mui.toast(data.message);
			}
//				vm_below_grade_detail.detailItemList.push({MeasureCL:3,TypeName:'1',Result:11.95,Base:12,ToleranceMinus:-0.05,TolerancePlus:0.05});
//				vm_below_grade_detail.detailItemList.push({MeasureCL:3,TypeName:'12',Result:12.94,Base:12,ToleranceMinus:-0.05,TolerancePlus:0.05});
// 			 	vm_below_grade_detail.detailItemList.push({MeasureCL:2,TypeName:'12',Result:1,Base:12,ToleranceMinus:-0.05,TolerancePlus:0.05});
// 			 	vm_below_grade_detail.detailItemList.push({MeasureCL:2,TypeName:'12',Result:0,Base:12,ToleranceMinus:-0.05,TolerancePlus:0.05});
// 			 
		});
	}
	window.onload=function(){
//		courseId = $.query.get("courseId"); 
//		classId = $.query.get("classId");
//		console.info("courseId:  "+courseId);
//		console.info("classId:  "+classId);
		
	}
	 
	function openCheckInputDetail(detailItem){		
		app.setPageParam("$selectCheckInputDetailItems",detailItem);
		window.location.href="tasks_input_meter.html";
	}
	
	function showCheckResult(){
		var selectTask=app.getPageParam("$selectBelowGradeItem");
		var showInfo='\n'
		showInfo+='钢印号：'+selectTask.Model+'\n';
		showInfo+='测量者：'+selectTask.ReceiveUser+'\n';
		
		for(var i=0;i<vm_below_grade_detail.detailItemList.length;i++){
			var item = vm_below_grade_detail.detailItemList[i];
			if(item.ngFlag){
				var sMsg= item.TypeName+","+item.ItemName+":"+item.Result+" 超出范围！\n";
				showInfo+=sMsg;
			}
		}
		
		showInfo+='时间：'+selectTask.ReceiveDttm+'\n';
		mui.confirm(showInfo, '不合格确认', ['合格','取消','不合格'], function(e) {
			switch(e.index){
				case 0:
					//mui.toast('合格') ;
					submitGradeDetail(1);
				break;
				case 1:
					mui.toast('取消') ;break;
				case 2:
					//mui.toast('不合格') ;
					submitGradeDetail(2);
				break;
				default: break;
			}
		})
	}
	function submitGradeDetail(result){
		var selectTask=app.getPageParam("$selectBelowGradeItem");
  		
  		var searchData = {};
  		searchData.ProcessFlow_CD=selectTask.ProcessFlow_CD;
  		searchData.Process_CD=selectTask.Process_CD;
  		searchData.LoginUser=vm_below_grade_detail.userInfo.LoginUser;
		searchData.LoginNumber=vm_below_grade_detail.userInfo.LoginNumber;
		searchData.FNumber=selectTask.FNumber;
		searchData.Model=selectTask.Model;
		searchData.Result=result;
  		
		vm_below_grade_detail.taskSearchInfo.command="submit";
		vm_below_grade_detail.taskSearchInfo.data=""+JSON.stringify(searchData); 
			app.postTaskList(vm_below_grade_detail.taskSearchInfo,function(data){
			if(data.code==1){
				mui.toast("操作成功！"); 
				mui.back();
			}else{
				mui.toast(data.message);
			}
		});
	}
</script>
</body>
</html>