<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>测量数据输入</title>
	<script src="../js/jquery-2.1.4.min.js"></script> 
    <script src="../js/mui.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../js/app.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/> 
    <link href="../css/app.css" rel="stylesheet"/> 
    <link href="../css/tasks_page.css" rel="stylesheet"/> 
    <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    <style>
    .mui-switch-ok {
		background: purple;
		border: 2px solid purple;
		background-color: purple;
		
	}
    .mui-switch-ok.mui-active:before
	{
	    right: auto;
	    left: 10px;		
	    font-size: 14px;	
	    content: 'OK';		
	    color: #fff;
	}
	
	.mui-switch-ok:before
	{
	    font-size: 14px;		
	    position: absolute;
	    top: 3px;
	    right: 11px;		
	    content: 'NG';
	    text-transform: uppercase;		
	    color: #fff;
	}
	
    </style>
</head>
<body>
	<div id="task_input_meter_content">
		
	<header class="mui-bar mui-bar-nav top_title" >
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">测量数据输入</h1>
		<i class="fa fa-save" @tap="saveMeterInput()" style="font-size: 1.7em; color: #ffffff; margin: 0.2em; float: right;"></i>
	</header>
 
   
 
	<div id="item1" class=" mui-content "  >
		 <table >
		 	<tr class="tr_title">
		 		<th>工序流转卡号</th>
		 		<th>图号</th>
		 		<th>品名</th>
		 		<th>数量</th>
		 		<th>检查完成</th>
		 		<th>接受时间</th>
		 	</tr>
		 	<tr class="tr_content" v-for="item in taskList">
		 		<td>{{item.ProcessFlow_CD}}</td>
		 		<td>{{item.FNumber}}</td>
		 		<td>{{item.FName}}</td>
		 		<td>{{item.TaskCount}}</td>
		 		<td>{{item.FinishCount}}</td>
		 		<td>{{item.ReceiveDttm}}</td>
		 	</tr>
		 </table>
		 <table >
		 	<tr class="tr_title">
		 		<th width="15%">测量项目</th>
		 		<th width="20%">工具</th>
		 		<th width="10%">单位</th>
		 		 <th width="10%">测定<br>尺寸</th>
		 		<th width="15%">公差正<br>公差负</th>
		 		
		 		<th width="10%">样本数</th>
		 		<th width="10%">完成数</th>
		 	</tr>
		 	<tr class="tr_content" v-for="detailItem in detailItemList">
 
		 		<td>{{detailItem.TypeName}}</td>
		 		<td>{{detailItem.DeviceName1}}{{detailItem.DeviceName2}}</td>
		 		<td>{{detailItem.Unit}}</td>
		 		<td>{{detailItem.Size}}</td>
		 		<td>{{detailItem.ToleranceMinus}}<br/>{{detailItem.TolerancePlus}}</td> 
 
		 		<td>{{detailItem.Qty}}</td> 
		 		<td>{{detailItem.FinishQty}}</td> 
		 		 
		 		  
		 	</tr>
		 </table>
		 
		 <table >
		 	<tr class="tr_content" v-for="meterItem in meterItemList">
		 		<td width="20%">钢印号：{{meterItem.Model}}</td>
		 		<td style="padding: 2px 10px;">
		 			<input type="number" v-if="meterItem.MeasureCL==1 " readonly="readonly" v-model="meterItem.Result" 
		 				:style="meterItem.ngFlag ? 'border: 1px solid #fa1111;':'border: 1px solid #11fa11;'"  
		 				style=" width: 35%; margin: 2px;"  placeholder="计算结果">
		 			
		 			<input type="number" v-if="meterItem.MeasureCL==1 " v-model="meterItem.ResultRaw" @change="caclulateResult(meterItem)"  style="width: 60%;margin: 2px;"  placeholder="请输入">
		 			
		 			<input type="number" v-if="meterItem.MeasureCL==3" v-model="meterItem.Result"  style="margin: 2px;"  placeholder="请输入">
		 			
					<div :id="'meterItem_'+meterItem.ID" v-if="meterItem.MeasureCL==2"  
						:class="getMeasureCL(meterItem.Result)"
						style="float: left;"
						@toggle="changeMeterMeasure(meterItem)"
						>
					  <div class="mui-switch-handle"></div>
					</div>
		 		</td>
		 	</tr>
		 </table>
		 
	</div>
	
 
</div>
<script type="text/javascript" charset="UTF-8">
  	mui.init(); 
  	var vm_task_input_meter = new Vue({
		el: '#task_input_meter_content',
		data: {
			checkAllFlag:false,
			selectItemIds:[],
			taskSearchInfo:{
				command:"detail",
				message:"",
				data:""
			},
			userInfo:{
//				LoginUser:"user2",
//				LoginNumber:1554,
//				GroupName:'检查组长'
			},
			checkInputDetail:{},
			taskList:[
			],
			detailItemList:[],
			meterItemList:[
//			{MeasureCL:1,Result:'',Model:'11'},
//			{MeasureCL:2,Result:'0',Model:'22'},
//			{MeasureCL:3,Result:'456',Model:'33'},
//			{MeasureCL:2,Result:'1',Model:'44'}
			]
		},computed: {
		    isAdmin:function(){
		    	return this.userInfo.GroupName=='检查组长';
		    },
		    	
		},
		methods:{
			caclulateResult:function(item){
				
				console.info("caclulateResult====================>>>>>>>>>>>>>>>");
				console.info(item);
		    	var tolerance=0;
		    	var result2=0;
		    	if(item.ResultRaw){
					tolerance = item.ResultRaw/1000;
					if(this.checkInputDetail.ToleranceMinus && tolerance<this.checkInputDetail.ToleranceMinus
					|| this.checkInputDetail.TolerancePlus && tolerance>this.checkInputDetail.TolerancePlus 
						){
						item.ngFlag=true;
					}else{
						item.ngFlag=false;
					}
		    	}
		    	if(this.checkInputDetail.Base){
		    		 result2 =tolerance+this.checkInputDetail.Base ;
		    	}
		    	item.Result=result2;
		    },
			getMeasureCL:function(Result){
		    	var cl = 'mui-switch mui-switch-blue mui-switch-ok mui-active';
		    	if(Result=='0'){
		    		cl = 'mui-switch mui-switch-blue mui-switch-ok mui-active';
		    	}else{
		    		cl = 'mui-switch mui-switch-blue mui-switch-ok';
		    	}
		    	return cl;
		    },
		    changeMeterMeasure:function(item){
				//console.info(event.detail)
				//console.info(item);
				if(event.detail.isActive){
					item.Result=0;
				}else{
					item.Result=1;
				}
				//console.info(JSON.stringify(vm_task_input_meter.meterItemList));
			}
		},
		watch:{
			
		}
	});
	
	
	mui.ready(function(){
		vm_task_input_meter.userInfo = app.getState();
		getTaskDetail();
		
		
		
			
			
	});
	
   
	function  getTaskDetail(){
		var userInfo = app.getState();
		var searchData=userInfo;
		var selectTask=app.getPageParam("$selectInputTaskItem");
		vm_task_input_meter.taskList=[];
		vm_task_input_meter.taskList.push(selectTask);
		
		
		var selectProject=app.getPageParam("$selectCheckInputDetailItems");
		vm_task_input_meter.detailItemList=[];
		vm_task_input_meter.detailItemList.push(selectProject);	
		vm_task_input_meter.checkInputDetail=selectProject;
		 
		searchData.ProcessFlow_CD=selectTask.ProcessFlow_CD;
		searchData.FNumber=selectTask.FNumber;
		searchData.SEQ=selectProject.SEQ;
		vm_task_input_meter.taskSearchInfo.command="load";
		vm_task_input_meter.taskSearchInfo.data=""+JSON.stringify(searchData);
		app.postCheckList(vm_task_input_meter.taskSearchInfo,function(data){
			if(data.code==1){
				var dataList = data.data; 
				//console.info(dataList);
				var AllList=JSON.parse(dataList);
				
				var selectTaskInputDetailItems=app.getPageParam("$selectTaskInputDetailItems");
				
				for(var i=0;i<AllList.length;i++){
					for(var j=0;j<selectTaskInputDetailItems.length;j++){
						if(AllList[i].Model==selectTaskInputDetailItems[j].Model){
							AllList[i].ngFlag=false;
							vm_task_input_meter.meterItemList.push(AllList[i]);
						}
					}
				}
//				vm_task_input_meter.meterItemList.push({MeasureCL:1,Result:'46.111',Model:'11'});
//				vm_task_input_meter.meterItemList.push({MeasureCL:2,Result:'0',Model:'22'});
//				vm_task_input_meter.meterItemList.push({MeasureCL:3,Result:'456',Model:'33'});
//				vm_task_input_meter.meterItemList.push({MeasureCL:2,Result:'1',Model:'44'});
//				 


				setTimeout(function () {
					mui('.mui-switch')['switch']();
				},300);
			}else{
				mui.toast(data.message);
			}
		});		 
	}
	window.onload=function(){
//		courseId = $.query.get("courseId"); 
//		classId = $.query.get("classId");
//		console.info("courseId:  "+courseId);
//		console.info("classId:  "+classId);
		
	}
	 
	function saveMeterInput(){		
		var userInfo = app.getState();
		var searchData=userInfo;
		var ID=[];
		var Result=[];
		var Error=[];
		for(var i=0;i<vm_task_input_meter.meterItemList.length;i++){
			ID.push(vm_task_input_meter.meterItemList[i].ID);
			Result.push(vm_task_input_meter.meterItemList[i].Result);
			Error.push(vm_task_input_meter.meterItemList[i].ngFlag?1:0);
		}
		searchData.ID=ID;
		searchData.Result=Result;
		searchData.Error=Error;
		vm_task_input_meter.taskSearchInfo.command="save";
		vm_task_input_meter.taskSearchInfo.data=""+JSON.stringify(searchData);
		app.postCheckList(vm_task_input_meter.taskSearchInfo,function(data){
			if(data.code==1){ 
				 console.info("back"); 
				mui.back();
			} 
			mui.toast(data.message);
		});
	}
	
	
//	mui('#task_input_meter_content').on('toggle', '#thGenderName', function(e) {
////	document.getElementById("thGenderName").addEventListener("toggle",function(event){
//	  if(event.detail.isActive){
//	    vm_set_teacher.teacherInfo.thGender='M';
//	  }else{
//	    vm_set_teacher.teacherInfo.thGender='F';
//	  }
//	}) 
</script>
</body>
</html>